.blog-container {
  background-color: #e6eaf6;
  min-height: 100vh;
  margin: 0px 65px;
  padding: 50px 10px;
}

.bbox {
  display: flex;
  padding: 15px 10px;
  border-radius: 25px;

}

@media screen and (max-width: 480px) {
  .blog-container {
    margin: 0px 10px;
  }
  .bbox{
      padding:20px 10px;
  }
}
