.b-img{
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}
.blogCard{
    box-shadow: 15px 15px 11px -4px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.b-img > img {
  transform: scale(0.8);
}
.b-title{
    padding: 20px;
    background-color: #fff;
    height:90px;
    border-radius: 0px 0px 25px 25px;
}
@media screen and (max-width:480px) {
    .b-img > img {
        transform: scale(0.7);
      }
    .b-img{
        height: 350px;
    }
}