.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 65px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links > a {
  margin: 0px 20px;
  font-size: 16px;
}
.fa-solid {
  font-size: 35px;
}
@media screen and (max-width:480px){
  .nav-container{padding: 20px 15px 10px 35px;
  }
}